@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../fonts/GothamPro-Bold.woff');
}

@font-face {
  font-family: 'GothamPro-Light';
  src: url('../fonts/GothamPro-Light.woff');
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.woff');
}

@font-face {
  font-family: 'Verdana-Bold';
  src: url('../fonts/Verdana-Bold.woff');
}

@font-face {
  font-family: 'Verdana';
  src: url('../fonts/Verdana.woff');
}

#root,
#modal {
  --extra-color: #fc842d;
  --page-bgcolor: #e5e5e5;
  --page-secondary-color: #f0f1f3;
  --text-main-color: #212121;
  --text-secondary-color: #9b9faa;
  --calories-diary-color: #264061;
  --header-divider-color: #e0e0e0;
  --color-white: #ffffff;
  --color-disabled: rgba(252, 132, 45, 0.5);

  --transition: all 250ms linear;
}
