
#root{
    --extra-color: #FC842D;
    --page-bgcolor: #E5E5E5;
    --page-secondary-color: #F0F1F3;
    --text-main-color: #212121;
    --text-secondary-color: #9B9FAA;
    --text-extra-btn-color: #fff;
    --calories-diary-color: #264061;
    --header-divider-color: #E0E0E0;
 
}